<div class="popUp-container">
  <div class="popUp popUp-close">
    <p class="close">X</p>
    <form class="formulario">
      <legend>Login</legend>
      <div class="contenedor-de-cmapos">
        <div class="campo">
          <input class="imput-text" type="text" placeholder="DNI" />
        </div>
        <div class="campo">
          <input
            class="imput-text"
            type="password"
            placeholder="Nombre de usuario"
          />
        </div>
        <div class="campo">
          <input class="imput-text" type="password" placeholder="Pin" />
        </div>
      </div>
      <div class="enviar">
        <button class="btn">Login</button>
      </div>
      <p>¿Olvidaste tu Contraseña?</p>
      <p>register</p>
    </form>
  </div>
</div>
